/*body{
background-color: #000;
}

.body{
background: url(image-path('body.jpg')) no-repeat;
margin-top:-10px;
width: 900px;
display: block;
margin: 0px 20% 0px 20%;
height: 100%;
}

.center{
margin-top:-10px;
margin-left:10px;
margin-rigth:7px;
width:883px;
background-color: #000;
display:block;
background: url('app/assets/images/background.jpg');
}

.footer{
margin-left:10px;
margin-rigth:7px;
width:883px;
display:block;
footer: 0px;
}

.menu{
margin-left:10px;
margin-rigth:7px;
height:36px;
width:872px;
margin-botton: -10;
background: url('app/assets/images/laranja.jpg') repeat-x;
padding: 5px;
}*/