<!DOCTYPE html>
<html>
<head>
  <title>Curriculum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<style >
 	.headerMenu{
 		width: 100%;
 		height: 30px;
 		background-color: #ccc;
 		display: block;
 	}
	
	.sideBar li{
 	 	list-style-type:none;
 	 	margin-left: -30px;
 	 	text-decoration: none;
 	 	color: fff;
 	 	text-indent: none;

 	}

 
 	.sideBar{
 		width: 120px;
		height: 1000px;
		margin-top: 5px;
	    display: block;
	    background-color: #eee;
	    float: left;
	     	}
 	.yield{
 		width: 600px;
		height: 100%;
	    display: block;
	    background-color: #efefef;
	    float: left;
	    margin-right: 5px;
	    margin-left: 5px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	    padding: 20px;
	    	     	}

</style>
<body>
<div class='headerMenu'>
 
</div>
<div class="sideBar">
	<ul>
	  <li><h3>Menu de cadastro</h3></li>
	  <li><a href="/people">Curriculos</a></li>
	  <li><a href="/sectors">Setores</a></li>
	  <li><a href="/essays">Perguntas</a></li>
	  <li><a href="/skills">Habilidades</a></li>
	  <li><a href="/levels">Níveis</a>
	  <li><a href="/vacants">Vagas</a></li>
	</ul>
</div>
<div class="yield">
<%= yield %>
</div>
</body>
</html>
